html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
input[type="text"] {
    font-family: monospace;
}
/* #fInput {
  font-family: serif;
  position: absolute;
  left: 80px;
  top: 2px;
  width: 200px;
  height: 30px;
  color: white;
} */
