html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
input.asciimath[type="text"] {
  font-family: monospace;
  color: white;
  background-color: black;
  border-color: white;
  border-radius: 3px;
  width: 200px;
  height: 18px;
}
.MathJax {
  font-size: 24px !important;
  color: white;
}
span {
  font-family: sans-serif;
  color: white;
}
